{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    About David Jaramillo
{% endblock %}

{% block head_block %}
{% endblock %}


{% block body_block %}
<div class="header">
    <h1>What is David Jaramillo?</h1>
</div>


<div class = "text">
    David Jaramillo is a phenomenon currently occuring in space and time. Don't ask me where, because I quite honestly dont know.
</div>

<div class="text">
    if you have any other questions just
    <a href = "mailto:davidjam1185@gmail.com">email me</a>.
</div>

{% endblock %}