<!DOCTYPE html>
{% load static %}
<html>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <head>
        <title>
            {% block title_block %}
            duck jam
            {% endblock %}
            - duck jam
        </title>
        {% block head_block %}
        {%endblock%}
        
    </head>
    <div class="duck-jam">
        <a href="{% url 'index' %}">duck jam</a>
    </div>
    <body>
        {% block body_block %}
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
        <li><a href="{% url 'about' %}">What is duck jam?</a></li>
        {% endblock %}
    </footer>
</html>